<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}顺创{% endblock %} - 顺创网</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/kevins.css" rel="stylesheet">
	<script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

{% include 'shunchuang/nav.html' %}

{% block content %}
	<div>shunchuang</div>
{% endblock %}

{% include 'shunchuang/bottom.html' %}

</body>
</html>
