{% extends 'shunchuang/base.html' %}

{% block title %}名家小课堂{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5"><img src="/static/img/blackborder.gif" class="blackborder"/></div>
	</div>
	{% for value in message %}
	<div class="row messagerow">
		<div class="col-xs-12 col-md-6 messagemaincol">
			<div class="col-xs-12 messageuser"><a href="/my/?user={{value.username}}">{{value.name}}：</a></div>
			<div class="col-xs-12 messagetitle">{{value.title}}</div>
			<div class="col-xs-12 messagetext">{{value.message}}</div>
		</div>
		<div class="col-xs-12 col-md-6 replymaincol">
			<div class="col-xs-12 replytop">
				{% if value.replyname %}
				导师回复：
				{% endif %}
			</div>
			<div class="col-xs-12 replyname">
				{% if value.replyname %}
				{{value.replyname}}：
				{% endif %}
			</div>
			<div class="col-xs-12 replytext">{{value.reply}}</div>
		</div>
	</div>
	{% endfor %}
	
</div>

<div id="messageform">
	<div id="messageformtit">我也要留言</div>
<form method='post'>
	<input type="hidden" value="message" name="form">
	{% csrf_token %}
	{{ messform }}
	<input id="mesubmit" type="submit" value="提交">
</form>
<div id="messagereturn">
{% if success %}
	{% if success == 1 %}
	留言成功
	{% else %}
	留言失败
	{% endif %}
{% endif %}
</div>
</div>

{% endblock %}
