{% extends 'shunchuang/base.html' %}

{% block title %}登录{% endblock %}

{% block content %}

	<div id="login_login">
	{% if not user %}
		<form method='post'>
			<input type="hidden" value="login" name="form">
			{% csrf_token %}
			{{ form }}
			<input id="loginsubmit" type="submit" value="登录">
			<div id="logintext">
				<a href="#" class="forget">忘记密码？</a>
				<a href="/sign/" class="forget">注册</a>
			</div>
		</form>
	{% else %}
	<p>
		已为<a href="/my/">{{ user }}</a>登录，<a href="/logout/">注销</a>
	</p>
	{% endif %}
	</div>

{% endblock %}
