.clr{
	width:0px;
	height:0px;
	overflow: auto;
	clear:both;
}

.copyright {
	color: #929292;
	font-family: "Microsoft Yahei";
	font-size: 12px;
	padding: 20px 0 0 25px;
	text-align: center;
}

.fixbottomnav {
	width: 100%;
	height: 50px;
	background-color: white;
	position: fixed;
	bottom: 0px;
}

.heibottomnav {
	width: 100%;
	height: 80px;
}

.kenav>li {
	width: 20%;
	text-align: center;
}

.nav>li>a.kenava {
	padding: 2px 5px;
}

.kenavfont {
	font-size: 12px;
}

.kegly {
	font-size: 20px;
}

#header {
	width: 100%;
	height: 80px;
}

#logo {
	width: 65px;
	margin-top: 10px;
	margin-left: 80px;
	float: left;
}

#logotext{
	width: 300px;
	height: 80px;
	padding-top: 10px;
	padding-left: 10px;
	float: left;
}

#logotitle{
	font-size: 30px;
	font-family: "Microsoft Yahei";
}

#logosetit{
	font-size: 14px;
	font-family: "Microsoft Yahei";
}

#login {
	float: right;
	width: 480px;
	height: 60px;
	margin-top:25px;
	position:relative;
}

#login>form>label {
	font-size:0px;
	width:0px;
	height:0px;
	visibility: hidden;
}

#login>form {
	height:60px;
	font-size:12px;
}

#login>form>ul.errorlist {
	position:absolute;
	left: 0;
	top: 30px;
}

.errorlist{
	color: red;
	font-size:12px;
}

#login>form>input, #login_login>form>input, #signform>form>input {
	background-color: #fff;
	border-radius: 5px;
    border: 1px solid #e3e2e1;
	font-family: "Microsoft Yahei";
	vertical-align: middle;
	color:#333;
}

#login_login>form>input, #signform>form>input {
	float: right;
}

#login>form>#id_phone, #login>form>#id_password {
	color: #8d8d8d;
	display: inline-block;
	height: 22px;
	line-height: 22px;
	margin-right: 8px;
	width: 130px;
	height: 22px;
	line-height: 22px;
}

#headsubmit {
	background: rgba(0, 0, 0, 0) url("/static/img/btn1_24.png") no-repeat scroll 0 0;
	width: 66px;
	height: 24px;
}

#login_login>form>#loginsubmit {
	display: block;
	margin-left:70px;
	float: none;
	background: rgba(0, 0, 0, 0) url("/static/img/btn1_24.png") no-repeat scroll 0 0;
	width: 66px;
	height: 24px;
}

#login>form>#id_phone, #login_login>form>#id_phone {
	padding: 0 5px;
}
#login>form>#id_password, #login_login>form>#id_password {
	padding: 0 5px;
	background-image: url("/static/img/lock.png");
    background-position: 110px center;
	background-repeat: no-repeat;
}

.forget{
	color: #767273;
    display: inline;
	font-size: 12px;
	padding-left: 5px;
	text-decoration: underline;
	vertical-align: bottom;
}

#login_login{
	position:relative;
	background: #fff none repeat scroll 0 0;
	border-radius: 5px;
	width: 260px;
	height: 200px;
	margin: 0px auto 0px;
	padding: 30px 0 0 25px;
}

#login_login>form{
	position:relative;
	width: 200px;
	height: 150px;
}

#loginmainpc{
	background: #fefefe url("/static/img/background.jpg") no-repeat;
	height: 454px;
	padding-top: 100px;
}


#signform>form{
	position: relative;
	width: 230px;
	height: 300px;
	margin-left: 30px;
}


#signmainpc>#signform{
	width: 360px;
	background: #fff none repeat scroll 0 0;
	border-radius: 5px;
	float: left;
	margin: 40px 0px 0px 100px;
	position: relative;
}

#signtextimg{
	float: right;
	margin: 40px 100px 0px 0px;
}

#signmainmo>#signform{
	width: 360px;
	background: #fff none repeat scroll 0 0;
	border-radius: 5px;
	float: left;
	margin: 30px auto 0;
	position: relative;
}

#login_login>form>label, #signform>form>label{
	display: block;
	float :left;
	margin: 5px 7px 12px 0px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
}

#signform>form>ul>li{
	list-style-type:none;
}

#signform>form>ul>li>label {
	display: block;
	float: right;
	width: 52px;
	margin: 0px 25px 12px 0px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
}

#signform>form>ul>li>label>input[type=radio]{
	margin-top:6px;
}

#login_login>form>#id_phone, #login_login>form>#id_password, #signform>form>#id_phone, #signform>form>#id_email, #signform>form>#id_username, #signform>form>#id_passwordo, #signform>form>#id_passwordt {
	color: #8d8d8d;
	display: block;
	height: 22px;
	line-height: 22px;
	margin-right: 8px;
	width: 150px;
	height: 27px;
	line-height: 27px;
}

#login_login>form>#id_password{
	margin-bottom: 30px;
    background-position: 130px center;
}

#login_login>form>#id_phone, #signform>form>#id_phone, #signform>form>#id_email, #signform>form>#id_username, #signform>form>#id_passwordo, #signform>form>#id_passwordt {
	margin-bottom: 10px;
}

#signform>form>#signsubmit{
	float:none;
	background: rgba(0, 0, 0, 0) url("/static/img/btn_reg_24.png") no-repeat scroll -25px 0;
	height: 41px;
	margin: 0 0 0 30px;
	width: 220px;
}

#signform>form>#signsubmit:hover{
	background-position: -25px -57px;
	background-color:#eb5858;
}

#login_login>form>ul.errorlist{
	position: absolute;
	left: 20px;
	top: 70px;
}

#signform>form>ul.errorlist{
	position: absolute;
	left: 20px;
	bottom: 5px;
}

#logintext {
	margin:10px 0px 0px 50px;
}

#headusername {
	float: right;
	margin: 20px 20px 0px 0px;
}

#signform>h2{
	border-bottom: 1px solid #dedede;
    color: #aaa;
	font-size: 22px;
	margin: 0 20px 10px;
	padding: 30px 0 12px;
	text-align: center;
}

#signmainpc{
	background: #fefefe url("/static/img/background.jpg") no-repeat;
	height: 454px;
}

#signmainmo{
	background: #fefefe url("/static/img/background.jpg") no-repeat;
	height: 454px;
}

#signlogin {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

#signbottomtext{
	font-size: 18px;
	font-family: "Microsoft Yahei";
	line-height: 70px;
	margin: 0px auto 30px;
}

/* 首页 */

#indexfirst{
	margin-top: 10px;
}

#indexsec{
	margin-top: 20px;
}

.zhaoxian>a>img{
	width:35px;
	margin-right:10px;
}

.zhaoxian{
	font-size: 12px;
	font-family: "Microsoft Yahei";
	margin-top: 10px;
}

#indexxiaoketang{
	width: 99%;
	border-radius: 8px;
	border: 1px solid #b7b4b4;
	padding: 10px 0;
	margin-top: 10px;
}

#indexxiaoketang>img{
	width: 100%;
	margin: 0 auto;
}

#bank{
	width:100%;
	max-width: 160px;
	padding: 10px 5px;
	border: 1px solid #b7b4b4;
	border-radius: 8px;
}

#banktitle {
	width:100%;
	max-width: 150px;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	border-bottom: 1px solid #b7b4b4;
}

#bank>ul {
	margin-top: 10px;
}

#bank>ul>li>a {
	font-size: 14px;
	line-height: 26px;
}

.newsdiv>div{
	line-height: 30px;
	margin-bottom: 5px;
}

.newsdiv>a{
	margin-bottom: 10px;
	padding-left: 25px;
}

/* 搜索页 */

#searchform{
	float:right;
	margin: 10px 0px 0px;
}

#searchform>input{
	background-color: #fff;
	border-radius: 5px;
    border: 1px solid #e3e2e1;
	font-family: "Microsoft Yahei";
	vertical-align: middle;
	color:#333;
	margin: 0 3px;
}

#searchinput{
	width: 200px;
	padding: 3px;
}

#searchsubmit{
	padding: 4 10px;
}

.userinfo{
	width: 90%;
	min-width: 90px;
	max-width: 130px;
	height: 120px;
	border: 1px solid #e3a07c;
	padding: 10px 0px 0 10px;
}

.sea_portrait{
	width: 60px;
	margin-bottom: 5px;
}

.searcha{
	height: 90px;
	color: #ffffff;
	font-size: 20px;
	line-height: 90px;
	text-align: center;
	margin-top: 15px;
}

.searcha:hover{
	color: #efebeb;
	font-size: 20px;
}

.searcha>div {
	height: 90px;
}

#searcha1{
	background-color: #aa9a67;
}

#searcha2{
	background-color: #8267aa;
}

#searcha3{
	background-color: #56bced;
}

#searcha4{
	background-color: #747f93;
}

#searcha5{
	background-color: #1c9d38;
}

#searcha6{
	background-color: #44c0be;
}

#searcha7{
	background-color: #38c7e7;
}

#searcha8{
	background-color: #d8ce48;
}

#searcha9{
	background-color: #57c2f6;
}

#searcha10{
	background-color: #9be16d;
}

#searcha11{
	background-color: #bf7ed4;
}

#searcha12{
	background-color: #e3b34d;
}

/* 小课堂 */

#messageform{
	width: 340px;
	margin: 50px auto 0;
}

#messageformtit{
	line-height: 38px;
	text-align: center;
    border-bottom: 1px solid #e3e2e1;
	font-size: 16px;
	font-family: "Microsoft Yahei";
}

#messageform>form{
	margin-top: 10px;
}

#messageform>form>label{
	display: block;
}

#messageform>form>input{
	display: block;
	background-color: #fff;
	border-radius: 5px;
    border: 1px solid #e3e2e1;
	font-family: "Microsoft Yahei";
	vertical-align: middle;
	color:#333;
}

#messageform>form>#id_title {
	width: 320px;
	margin: 0 0 0 10px;
}

#messageform>form>#id_message {
	width: 320px;
	margin: 0 0 0 10px;
}

#mesubmit {
	padding: 3px 8px;
	margin-left: 147px;
}

#messageform>form>#id_username, #messageform>form>#id_name{
	width: 0px;
	height: 0px;
	visibility: hidden;
}

#messagereturn {
	color: red;
	font-size: 12px;
	text-align: center;
	margin-top: 7px;
}

.blackborder{
	width: 90%;
	margin: 10px 0px 10px 10px;
}

.messagerow{
	font-size: 14px;
	margin-top: 20px;
}

.messagetitle{
	color: #135020;
	padding-left: 30px;
}

.messagetext{
	padding-left: 40px;
}

.replyname{
	color: #442d05;
	padding-left: 30px;
}

.replytext{
	padding-left: 40px;
	color: #8e1212;
}

.replytop{
	color: #509b07;
}

/* 拍卖会 */

.daojishi{
	font-size:22px;
	line-height: 50px;
	text-align: center;
	color: black;
	padding-top: 20px;
}

#daojishinum{
	font-size: 36px;
	color: red;
}

/* editinfopage */

.editimg{
	width: 80px;
}

#editinfo{
	margin-left: 20px;
}

#editphoto{
	margin-left: 20px;
}

#uploadphoto{
	margin-left: 20px;
}

#editinfo>form>label{
	display: block;
}

#editinfo>form>input{
	display: block;
}

.editinfosubmit{
	margin: 15px 0px 15px 50px;
}

/* mypage */

.my_portrait{
	width: 100px;
	margin: 10px 0px 10px 20px;
}
